* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
}
.headermenu {
  background: black;
  color: white;
  display: flex;
  padding: 0 50px;
}
.headermenu .logo {
  font-family: "Sansita Swashed", cursive;
  font-size: 2em;
  align-self: flex-start;
  margin-right: auto;
  height: 80px;
  line-height: 80px;
}
.headermenu .menulinks {
  font-family: "Nunito", sans-serif;
  display: flex;
  height: 80px;
  line-height: 80px;
}
.headermenu .menulinks li {
  list-style: none;
}
.headermenu .menulinks li a {
  text-decoration: none;
  padding: 0 20px;
  color: white;
}
.headermenu .menulinks li a:hover {
  border-bottom: 2px solid white;
  background-color: gray;
}
